<div class="contents-wrapper">
  <div class="history-wrapper">
    <div class="history-frame">
      <div class="history-photo">
        <img class = "stadium" src= "/stadium.jpg">
      </div>
      <div class="history-text">
        <p>1946年にAll-America Football Conference (AAFC)の一員としてチーム創設、1949年AAFCの破綻に伴い、1950年にNFLに参加した。現在、NFC西地区に所属している。チーム名は、サンフランシスコの東にあるサクラメントで1848年に砂金が発見されてカリフォルニアでゴールドラッシュが起き、金鉱で一攫千金を夢見る鉱山師が翌年に急増した1849年に因む。これまでにスーパーボウルに5回優勝している。NFLに加入後1970年まで地区優勝を果たすことはなかったが、1980年代にはプレーオフを逃すことわずか2回で4回のスーパーボウル優勝を果たすなど1980年代を代表するチームであった。チームは3度のスーパーボウルMVPに輝いたジョー・モンタナ、ロニー・ロット、スティーブ・ヤング、ジェリー・ライスらによって1980年代と1990年代始めにスーパーボウル5回の優勝を誇った。
      </div>
    </div>
  </div>
</div>
