<div class="contents-wrapper">
  <div class="photo-wrapper">
    <div class="photo-frame">
      <ul class = "member-list">
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

    </div>

  </div>
</div>
