// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contents-wrapper{
  width:100%;
  height:auto;
  background:linear-gradient(rgba(0, 0, 0, .8), rgba(150, 150, 0, .8)),url("/grass.jpeg");
  background-size: cover;
  background-repeat:  no-repeat;
  text-align: center;

}


.login-wrapper{
  width: 80%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

}
.login-frame{
  width: 100%;
  height: 400px;
  background-color: white;
  text-align:left;
  padding-left: 20px;
}

// memberレイアウト
.member-wrapper{
  width: 90%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.member-frame{
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.member-list{
  font-size: 20px;
  float:left;
  margin:10px;
  width:110px;
  border: 3px inset silver;
}
.member-list a:link{
  color:black;
}
.member-list a:visited{
  color:black;
}



// showレイアウト
.show-wrapper{
  width: 80%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

}
.show-frame{
  width: 100%;
  height: 400px;
  background-color: white;
}

.showname{
  color:white;
  text-shadow:1px 1px gray;
  background-color: black;
  font-size: 24px;
  height:50px;
  line-height: 50px;

}

.show-image{
  float: left;
  width: 350px;
  height: 350px;
  border:2px solid white;

}

.status {
  background:linear-gradient(rgba(255, 255, 255, .97), rgba(255, 255, 255, .97)),url("/sakura.jpg"),;
  background-size: cover;
  height: 350px;
  border:2px solid red;
  font-size: 20px;
  text-align: left;
  background-color: silver;
  border:2px solid white;
  color:#444444;
 & li{
   border-bottom: 1px solid gray;
 }
}

.status li span{
  color:black;
}
.editbotton{
  background-color: red;
  border-left:2px solid white;
  border-right:2px solid white ;
}
.backbotton{
  background-color: gray;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
